<script>
	import Frame from 'components/Frames.svelte';
	import Spacer from 'components/Spacer.svelte';
	import Button from 'components/Button.svelte';
	import Typography from 'components/Typography.svelte';
	import { goto } from '$app/navigation';
</script>

<Frame>
	<img src="/img/logo.svg" alt="logo" class="logo" />
	<div>
		<Typography align="center">Правила игры</Typography>
		<Spacer size={16} />
		<Typography size={16}>1. Поделитесь на две команды</Typography>
		<Spacer />
		<Typography size={16}
			>2. Игрок команды, номер которой указан экране, берет телефон и нажимает кнопку "ПОГНАЛИ"</Typography
		>
		<Spacer />
		<Typography size={16}
			>3. За 30 секунд нужно объяснить своей команде как можно больше карточек.</Typography
		>
		<Typography size={16}>Если команда отгадала название фильма, жмите "ОТГАДАЛИ"!</Typography>
		<Typography size={16}>Пропускать карты нельзя.</Typography>
		<Spacer />
		<Typography size={16}
			>4. Если закночилось время, нажмите кнопку "НУ ШТОШ" и передайте телефон следующей команде.</Typography
		>
		<Spacer />
		<Typography size={16}>5. Побеждает команда, отгадавшая больше всех карточек.</Typography>
	</div>
	<Button on:click={() => goto('/')}>Ясно, понятно</Button>
</Frame>

<style>
	.logo {
		width: 80%;
		margin: 0 auto;
	}
</style>
