<script>
	import Frame from 'components/Frames.svelte';
	import { films, match, endTurn } from 'store';
	import Timer from 'components/Timer.svelte';
	import Spacer from 'components/Spacer.svelte';
	import Button from 'components/Button.svelte';
	import Film from 'components/Film.svelte';
	$: film = $films[0];
	let isAntiCheatTimeoutPassed = true;
	const guess = () => {
		if (!isAntiCheatTimeoutPassed) return;
		isAntiCheatTimeoutPassed = false;
		setTimeout(() => (isAntiCheatTimeoutPassed = true), 800);
		match();
	};
</script>

<Frame>
	{#if film}
		<Spacer size={32} />
		<Film {film} />
		<div class="spacer" />
		<div class="timer">
			<Timer on:timerend={endTurn} />
		</div>
		<Spacer size={32} />
		<Button class="next" on:click={guess}>ОТГАДАЛИ</Button>
	{/if}
</Frame>

<style>
	.spacer {
		flex-grow: 1;
	}
	.timer {
		height: 150px;
		width: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
</style>
