<script>
	import { fly } from 'svelte/transition';
	import { linear } from 'svelte/easing';
	let windowHeight;
</script>

<div
	class="frame"
	in:fly={{ y: windowHeight, duration: 500, opacity: 1, easing: linear }}
	out:fly={{ y: -windowHeight, duration: 500, opacity: 1, easing: linear }}
>
	<div class="frameBg left" />
	<div class="frameBg right" />
	<slot />
</div>
<svelte:window bind:innerHeight={windowHeight} />

<style>
	.frame {
		overflow: hidden;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 16px 40px;
	}
	.frameBg {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 31px;
		background-repeat: repeat-y;
		background-image: url(/img/frame.svg);
		z-index: 2;
	}
	.left {
		left: 0;
	}
	.right {
		right: 0;
	}
</style>
